{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<content class="provider-content">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-9">
            <h1>Dienstleister im Bereich FOSSGIS und OSM</h1>
            <p>Der FOSSGIS e.V. hat zum Ziel die Förderung und Verbreitung Freier Geographischer Informationssysteme (GIS) im Sinne Freier Software und Freier Geodaten. Open-Source-Software und Open Data, sowie die Daten aus dem OpenStreetMap-Projekt, werden von einem breiten Ökosystem von Dienstleistern unterstützt.</p>
            <p>Hier geben wir einen Überblick der Dienstleister in diesem Bereich.</p>
        </div>
    </div>

    <div class="row">
        {{ range .Pages | shuffle }}
            <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="provider-item flex">
                    <div class="provider-item-logo">
                        <a href="{{ .RelPermalink }}">
                            <img src="/dienstleister/{{ .Params.Logo }}">
                        </a>
                    </div>

                    <h4>{{ .Title }}</h4>

                    <div class="provider-item-badges">
                        {{ range .Params.Categories }}
                            <span class="provider-badge">{{ . }}</span>
                        {{ end }}
                    </div>
                    <div class="provider-item-details">
                        <a href="{{ .RelPermalink }}">Weitere Informationen ansehen »</a>
                        <br>
                        <a href="{{ .Params.link }}">Direkt zur Webseite »</a>
                    </div>
                </div>
            </div>
        {{ end }}
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-9">
            {{ .Content }}
        </div>
    </div>

</content>
{{ end }}
