{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<content class="provider-content">
    <div class="row">
        <div class="col-sm-12">
            <h1>{{ .Title }}</h1>
        </div>

        <div class="col-sm-6 col-md-6">
            {{ .Content }}

            <h3>Kategorien</h3>
            {{ range $.Params.categories }}
                <span class="provider-badge provider-category">{{ . }}</span>
            {{ end }}

            <h3>Software</h3>
            {{ range $.Params.software }}
                <span class="provider-badge provider-software">{{ . }}</span>
            {{ end }}

            {{ if isset $.Params "projects" }}
            <h3>Projekte</h3>
            {{ range $.Params.Projects }}
                <span class="provider-badge provider-project">{{ . }}</span>
            {{ end }}
            {{ end }}
        </div>

        <div class="col-sm-6 col-md-3 text-center">
            <a href="{{ .Params.Link }}" rel="noopener">
			    <img src="/dienstleister/{{ $.Params.Logo }}" 
                    srcset="/dienstleister/{{ $.Params.Logo }} 1x, 
                    /dienstleister/{{ $.Params.Logo2x }} 2x">
            </a>
            <a href="{{ .Params.Link }}" rel="noopener">
                Zur Webseite 
            </a>
        </div>
    </div>
</content>   
{{ end }}
