<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
<head>
	<title>{{ block "title" . }} {{ .Site.Title }} {{ end }}</title>
	{{- partial "head.html" . -}}
</head>
<body>
	<div class="container-fluid">
		{{- partial "header.html" . -}}

		<div class="row">
			<aside class="col-xs-12 col-sm-3 last-xs first-sm sidebar">
				{{- partial "navigation-sidebar.html" . -}}
				{{- partial "donate-sidebar.html" -}}
			</aside>
			<content class="col-xs-12 col-sm-9 main-content">
				{{- block "main" . }}{{- end }}
			</content>
		</div>

		{{- partial "footer.html" . -}}
	</div>
</body>
</html>
