body {
	font-family: sans-serif;
	background-color: white;
	margin: 0;
	padding: 0;
}

a {
	color: #F29933;
}

h1, h2 {
	text-transform: uppercase;
	line-height: 1.2em;
}

#main-logo {
	padding: 0.5em 0 0.5em 1em;
}

#main-top-nav li {
	display: inline-block;
	font-weight: bold;
	text-transform: uppercase;
}

#main-top-nav li a {
	color: black;
	display: inline-block;
	padding: 1em;
	text-decoration: none;
}

#main-top-nav li:hover {
	color: white;
	background-color: #F29933;
}

.main-content {
	line-height: 1.5em;
}

.main-content h1 {
	-webkit-hyphens: auto;
	hyphens: auto;
}

.main-content p, .main-content ul, .main-content ol {
	-webkit-hyphens: auto;
	hyphens: auto;
	text-align: justify;

	max-width: 40em;
}

.main-content ul, .main-content ol {
	max-width: 36em;
}

.main-content img {
	max-width: 100%;
}

.sidebar {
	padding: 0 2em;
}

.side-nav ul {
	padding-left: 0;
}

.side-nav li {
	list-style: none;
	margin-bottom: .5em;
}

.side-nav .sub-menu {
	padding-left: 1em;
}

.side-donate {
	font-size: 90%;
	margin-top: 3em;
}

.breadcrumbs {
	background-color: #EEEEEE;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	display: block;
	padding: 1em;
}

footer {
	overflow: hidden;
}

.footer-banners {
	background-color: #F2F2F2;
	font-size: 90%;
	margin-top: 3em;
	padding: 3em;
}

.footer-banner-icon {
	display: block;
	height: 70px;
	line-height: 1.3em;
	margin-bottom: 1em;
}

.footer-linklist {
	background-color: #F29933;
	color: white;
	padding: 1em 0;
	text-align: center;
}

.footer-linklist a {
	color: white;
}

.article-meta {
	padding-top: 1.25em;
	text-align: right;
}

@media only screen and (max-width: 48em) {
	.article-meta {
		font-size: 90%;
		padding: 1em;
		text-align: left;
	}
}

.pagination {
	margin-top: 3em;
}

.pagination .page-item {	
	display: inline-block;
	margin-bottom: 1em;
}

.pagination .page-item .page-link {
	border: 1px solid orange;
	color: black;
	padding: 0.5em 1em;
	text-decoration: none;
}

.pagination .active .page-link {
	border: 1px solid grey;
	background-color: #EFEFEF;
}

.newsmeta {
    border-bottom: 1px solid grey;
}

