{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<content id="main-content">
    <h1>Neuigkeiten</h1>
    <p><b>Kategorie: {{ .Title }}</b> [<a href="index.xml">RSS</a>]</p>
    {{ range where .Site.RegularPages ".Params.categories" "intersect" (slice .File.BaseFileName) | first 20 }}
        <article class="row">
            <div class="col-sm-2 last-xs first-sm article-meta">
                {{ .Date.Format "02.01.2006" }}<br>
                {{ .Params.Author }}
            </div>

            <div class="col-xs-12 col-sm-10">
                <a href="{{ .RelPermalink }}"><h1>{{ .Title }}</h1></a>
                {{ .Summary }}
                <br><a href="{{ .RelPermalink }}">Ganzen Beitrag lesen »</a>
            </div>
        </article>
    {{ end }}
</content>
{{ end }}
