<div class="side-donate">
	<h3>Spenden</h3>

	<p>Unterstützen Sie unsere Arbeit und <a href="/verein/spenden/">spenden</a> Sie einfach per Überweisung oder per PayPal</p>
	<p>
		<h4>Spendenkonto: FOSSGIS e.V.:</h4>
		IBAN: DE93 5519 0000 0415 9380 26<br>
		BIC: MVBM DE 55 (Mainzer Volksbank)<br>
	</p>

	<p>Spenden via PayPal:</p>
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
	<input name="cmd" type="hidden" value="_s-xclick"><input name="hosted_button_id" type="hidden" value="RS6SXGFCA65GC"><input alt="Jetzt einfach, schnell und sicher online bezahlen
mit PayPal." border="0" name="submit" src="/logos/paypal-spenden-button.gif" type="image"><img alt="" border="0" height="1" src="/logos/paypal-spenden-button.gif" width="1"></form>
</div>
