<footer>
	<div class="footer-banners row">
		<div class="col-xs">
			<a href="https://www.openstreetmap.de/"><img class="footer-banner-icon" src="/logos/osm.png" alt="OpenStreetMap Logo"></a>
			<span>Der FOSSGIS e.V. ist offizielles Local Chapter und Ansprechpartner für das OpenStreetMap-Projekt in Deutschland.</span>
		</div>
		<div class="col-xs">
			<a href="https://fossgis-konferenz.de/2025/"><img class="footer-banner-icon" src="/logos/FOSSGIS2025_ohneDatum.png"></a>
			<span>Die nächste FOSSGIS-Konferenz findet vom 26.-29. März 2025 in Münster statt.</span>
		</div>
		<div class="col-xs">
			<a href="https://www.osgeo.org/"><img class="footer-banner-icon" src="/logos/osgeo.png" alt="OSGEO Logo"></a>
			<span>Der FOSSGIS e.V. vertritt die OSGeo Foundation als Local-Chapter im deutschsprachigen Raum.</span>
		</div>
	</div>
	<div class="footer-linklist">
		<a href="/impressum/">Impressum</a> | <a href="/datenschutzerklärung/">Datenschutzerklärung</a> | <a href="/news/index.xml">RSS</a>
	</div>
</footer>
