<footer>
	<div class="footer-banners row">
		<div class="col-xs">
			<a href="https://www.openstreetmap.de/"><img class="footer-banner-icon" src="/logos/osm.png"></a>
			<span>Der FOSSGIS e.V. ist offizielles Local Chapter und Ansprechpartner für das OpenStreetMap-Projekt in Deutschland.</span>
		</div>
		<div class="col-xs">
			<a href="https://fossgis-konferenz.de/"><img class="footer-banner-icon" src="/logos/fossgis20-logo.png"></a>
			<span>Die nächste FOSSGIS-Konferenz findet vom 11.–14. März 2020 in Freiburg statt.</span>
		</div>
		<div class="col-xs">
			<a href="https://www.osgeo.org/"><img class="footer-banner-icon" src="/logos/osgeo.png"></a>
			<span>Der FOSSGIS e.V. vertritt die OSGeo Foundation als Local-Chapter im deutschsprachigen Raum.</span>
		</div>
	</div>
	<div class="footer-linklist">
		<a href="/impressum/">Impressum</a> | <a href="/datenschutzerklärung/">Datenschutzerklärung</a>
	</div>
</footer>
