<header class="row">
	<div id="main-logo" class="col-xs-12 col-sm-4 start-sm center-xs">
		<a href="/" title="Startseite" rel="home">
			<img src="/logos/FOSSGIS.png" srcset="/logos/FOSSGIS.png 1x, /logos/FOSSGIS@2x.png 2x" alt="FOSSGIS Logo">
		</a>
	</div>
	<div class="col-xs-12 col-sm-8 end-sm">
		<nav id="main-top-nav">
			<ul>
				{{ range .Site.Menus.top }}
					<li><a href="{{ .URL }}">{{ .Name }}</a></li>
				{{ end }}
			</ul>
		</nav>
	</div>
</header>

<nav class="breadcrumbs">
	{{ partial "breadcrumbs.html" . }}
</nav>
